@import "imports";

$mobile: new-breakpoint(max-width 680px);

.content {
  font-family: 'Avenir Next', 'Roboto', sans-serif;
  // font-family: 'Oswald', sans-serif;

  main {

    width: 100%;
    margin: 0;
    padding: 0;

    .content-section {
      @include outer-container;
      text-align: center;    

      .line-behind-text {
        border-bottom: 1px solid #cacaca;
        text-align: center;
        margin-bottom: 3em;

        h6 {
          font-family: 'Avenir Next', sans-serif;
          // text-transform: uppercase;
          background: #fff;
          color: #808080;
          display: inline-block;
          font-size: 1em;
          font-weight: 500;
          padding: 0 10px;
          position: relative;
          top: 34px;
          margin-bottom: 1.5em;

        }
      }

      ul {

        .contact-icon {

          display: inline-block;
          img {
            @include transition(all 0.4s ease-in-out);
            max-width: 4em;
            border-radius: 0;
            margin-right: .5em;

            &:hover,
            &:focus {
              opacity: .4;
            }
          }

          &:last-child img {
            margin-right: 0;
          }

        }
      }

      &.nav-to-top {
        margin-top: 1.6em;
        margin-bottom: 1.6em;

      }
    }

    #about-section {

      .text-entry {
        width: 70%;
        margin: 0 auto;
      }

      img {
        border-radius: 50%;
        max-width: 9em;
        margin-bottom: 1.6em;
      }
    }


  }
}

