<div class="content-section" id="about-section" ng-show="vm.isSelected(2)">
  <div class="line-behind-text">
    <h6>About</h6>
  </div>

  <img src="img/me/headshot.png" alt="">
  
  <div class="text-entry">
    <p>After working in IT Support for five years I realized that I wanted to take a more direct role in improving people's interactions with technology by being the one to write the software rather than the one to troubleshoot it.
    </p> 
    <p>I spent three months learning everything I could about Web development at General Assembly and can't wait to put my skills to use while continuing to learn in this fast-paced field.</p>
    <p>Outside of Web development I enjoy life through hiking, exploring, cooking, and sports. Soccer and Dota 2 do a good job feeding my competitive spirit. I love to experience new tastes and immensely enjoy coffee and craft beer.</p>
  </div>
</div>