<div class="content-section" id="contact-section" ng-show="vm.isSelected(3)">
  <div class="line-behind-text">
    <h6>Contact</h6>
  </div>

  <ul>
    <li class="contact-icon">
      <a href="mailto:petridw@gmail.com">
        <span title="petridw@gmail.com"><img src="img/icons/email.png" alt="email"></span>
      </a>
    </li>
    <li class="contact-icon">            
      <a href="https://github.com/petridw">
        <span title="https://github.com/petridw"><img src="img/icons/github.png" alt="github"></span>
      </a>
    </li>
    <li class="contact-icon">
      <a href="https://www.linkedin.com/in/davidpetri">
        <span title="https://linkedin.com/in/davidpetri"><img src="img/icons/linkedin.png" alt="linkedin"></span>
      </a>
    </li>
    <li class="contact-icon">
      <a href="https://twitter.com/davidpetri">
        <span title="https://twitter.com/davidpetri"><img src="img/icons/twitter.png" alt="twitter"></span>
      </a>
    </li>
  </ul>
</div>