<div class="content-section show" id="projects-section" ng-show="vm.isSelected(1)">

  <div class="line-behind-text">
    <h6>Projects</h6>
  </div>

  <div class="grid-items">

    <a href="http://getcooking.herokuapp.com" class="grid-item grid-item-image">
      <img src="http://static.iconsplace.com/icons/preview/white/cooking-pot-256.png" alt="cooking-icon">
      <h1>Get Cooking</h1>
      <p>
        <b>Ingredient-based recipe search.</b>
        <br/>
        Rails + PostgreSQL backend, Angular JS frontend. Utilizes Yummly API, AngularUI Router, and Bootstrap + Typeahead.
      </p>
    </a>
      <a href="http://dototime.herokuapp.com" class="grid-item grid-item-image">
      <img src="../../img/dototime/icon.png" alt="dota-icon">
      <h1>dototime</h1>
      <p>
        <b>Track Dota 2 players, live matches, stats & more.</b>
        <br/>
        Rails + MongoDB backend, Bootstrap frontend. Utilizes the Steam Web API, bcrypt, OAuth, Sucker Punch, and Kaminari.
      </p>
    </a>
      <a href="http://playerproductivity.herokuapp.com" class="grid-item grid-item-image">
      <img src="../../img/playerpop/icon.png" alt="">
      <h1>Player Popularity</h1>
      <p>
        <b>Twitter-based NBA popularity tracker.</b>
        <br/>
        Rails + PostgreSQL backend, custom frontend. Uses Twitter Streaming API, D3, a custom backend API, and Twitter Typeahead.
      </p>
    </a>
      <a href="http://petri-tic-tac-toe.firebaseapp.com" class="grid-item grid-item-image">
      <img src="../../img/tictactoe/icon.png" alt="">
      <h1>Tic-Tac-Toe</h1>
      <p>
        <b>Yet another online Tic-Tac-Toe.</b>
        <br/>
        Firebase bound to an AngularJS frontend using AngularFire. Utilizes CSS3 media queries, transitions, and custom styling.
      </p>
    </a>

  </div>
</div>